/*===============================================================
ColorsCss
=============================================================*/

$primary-color: #ff565c;
$dark-color: #1d1f24;
$dark-color: #fff;

/*===============================================================
Common Css
=============================================================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Lato", sans-serif;

  font-family: "Oswald", sans-serif;

  overflow-x: hidden;

  background-color: #f9fafc;
}

/*===============================================================
Fonts Css
=============================================================*/

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 50px;
}

h2 {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
}

h3 {
  font-family: "oswald", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

h4 {
  font-family: "Lato", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
}

p {
  font-family: "lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: white;
  line-height: 30px;
}

a {
  font-family: "oswald", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: white;
  &:hover {
    text-decoration: none;
    color: white;
  }
}

/*===============================================================
Navbar Css
=============================================================*/

nav {
  border-bottom: 1px solid rgb(235, 235, 235);
}

/*===============================================================
Hero Css
=============================================================*/

.hero {
  background: url(../img/heroimg.jpg);
  width: 100%;
  height: fit-content;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0;

  .tag {
    background-color: $primary-color;
    display: inline-block;
    padding: 10px 10px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 35px;
  }

  h1 {
    margin-bottom: 20px;
  }
}

/*===============================================================
Section 1 Css
=============================================================*/

.section-1 {
  padding: 50px 0;

  .side {
    background-color: white;

    .categorys {
      padding: 20px 25px;
      border-bottom: 1px solid rgb(224, 224, 224);

      .number {
        color: rgb(223, 219, 219);
      }
    }
  }

  .entertainment {
    background: url(../img/heroimg-1.jpg);
    width: 100%;
    height: fit-content;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 30px 0 90px 0;

    .tag {
      color: white;
      background: $primary-color;
      display: inline-block;
      padding: 10px 15px;
      margin-bottom: 30px;
    }

    .content {
      margin-left: 25px;
    }
  }
}

.finance {
  background: url(../img/heroimg-2.jpg);
  width: 100%;
  height: fit-content;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px 15px 80px 0;

  .tag {
    color: white;
    background: $primary-color;
    display: inline-block;
    padding: 10px 15px;
    margin-bottom: 30px;
  }

  .content {
    margin-left: 25px;
  }
}

.gaming {
  background: url(../img/heroimg-3.jpg);
  width: 100%;
  height: fit-content;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px 15px 80px 0;

  .tag {
    color: white;
    background: $primary-color;
    display: inline-block;
    padding: 10px 15px;
    margin-bottom: 30px;
  }

  .content {
    margin-left: 25px;
  }
}

/*===============================================================
Section 1 side Css
=============================================================*/

.section1-side {
  .finance {
    background: url(../img/heroimg-2.jpg);
    width: 100%;
    height: fit-content;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px 15px 80px 0;

    .tag {
      color: white;
      background: $primary-color;
      display: inline-block;
      padding: 10px 15px;
      margin-bottom: 30px;
    }

    .content {
      margin-left: 25px;
    }
  }
  .side-banner {
    background-color: #ff565c;
    width: 100%;
    height: fit-content;
    padding: 45px 50px 45px 20px;
  }

  button {
    background: transparent;
    outline: none;
    border: 1px solid white;
    padding: 15px 45px;
    transition: 0.4s ease-in-out all;

    &:hover {
      background: white;
    }

    &:hover a {
      color: $primary-color;
    }

    a {
      color: white;
    }
  }
}
